.view_container{
    margin-top: 30px;
    display: grid;
    grid-gap: 15px;
    padding: 30px 0px 26px;
    grid-template-columns: repeat(5, minmax(0, 1fr));
}

.wrap-card{
    border: 2px solid rgba(249, 249, 249, 0.1);
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
                rgb(0 0 0/73%) 0px 16px 10px -10px;
    background-color: #22304a;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.wrap-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrap-card:hover{
    transform: scale(1.05);
    border-color: rgba(249, 249, 249, 0.8);
    box-shadow: rgb(0 0 0 / 80%) 0px 40px 58px -16px,
                rgb(0 0 0/72%) 0px 30px 22px -10px;

}